:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.App-header {
  background-color: #79aeca;
  position: fixed;
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#bgVdo {
  position: fixed;
  filter: brightness(80%);
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Murecho&family=Roboto:wght@100&family=RocknRoll+One&display=swap");

* {
  box-sizing: border-box;
}

#bgVdo {
  position: fixed;
  filter: brightness(80%);
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

html {
  font-family: "Microsoft Yahei", sans-serif;
  font-weight: 1000;
}

body {
  overflow: overlay;
  display: grid;
  margin: 0;
  background: linear-gradient(-45deg, #90c4ff, #324e9b);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding-bottom: 130px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


a {
  color: #79aeca;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: #29b6f6;
  text-decoration: none;
  transition: all 0.2s;
}

.white-background-static {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-static-scroll-down {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
  transition: all 0.2s;
}

.white-background {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-animated {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-animated:hover {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  transform: scale(1.01);
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-animated:active {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1);
  transition: all 0.2s;
}

@keyframes background-in {
  0% {
    opacity: 0;
    scale: 90%;
  }
  40% {
    opacity: 1;
    scale: 102%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.container {
  padding: 0 10px 0 10px;
  display: grid;
  gap: 10px;
}

body::-webkit-scrollbar {
  /* display: none; 
  -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.hide-scroll::-webkit-scrollbar {
  /* display: none; 
  -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.hide-scroll {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-1 {
  font-size: 128px;
}

.display-2 {
  font-size: 96px;
}

.display-3 {
  font-size: 64px;
}
.display-4 {
  font-size: 48px;
}
.display-5 {
  font-size: 32px;
}
.display-6 {
  font-size: 24px;
}
.display-65 {
  font-size: 20px;
}

.display-7 {
  font-size: 18px;
}

.display-75 {
  font-size: 15px;
}

.display-8 {
  font-size: 12px;
}

.display-9 {
  font-size: 10px;
}

.banner {
  display: block;
  opacity: 1;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  animation-name: banner-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes banner-in {
  0% {
    opacity: 0;
    scale: 90%;
  }
  40% {
    opacity: 1;
    scale: 102%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.banner-success {
  background-color: rgb(25, 148, 0);
  color: white;
}

.banner-little-success {
  background-color: rgb(116, 214, 97);
  color: white;
}

.banner-primary {
  background-color: #79aeca;
  color: white;
}

.banner-secondary {
  background-color: #707070;
  color: white;
}

.banner-danger {
  background-color: #d32f2f;
  color: white;
}

.banner-little-danger {
  background-color: #ff9797;
  color: white;
}

.banner-warning {
  background-color: #feffb0;
  color: black;
}

.banner-white {
  background-color: #ffffff;
  color: #79aeca;
}


.bold {
  font-weight: bolder;
}

table {
  width: 100%;
  border: 2px dotted #79aeca;
  border-radius: 8px;
  transform: scale(1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

table:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s;
}

table:active {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

table td {
  width: 33%;
}

.badge-rainbow-outline {
  padding: 0 10px 0 10px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(
    12deg,
    #00ff6a,
    #00b34a,
    #00a143,
    #005523,
    #006e12,
    #003985,
    #004fb6,
    #005cd4,
    #0068f0
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.badge-warning-animate {
  padding: 0 10px 0 10px;
  margin: 5px;
  border-radius: 5px;
  color: #000;
  background: linear-gradient(
    12deg,
    #ffbb00,
    #e7c400,
    #ffee00,
    #fbff00
  );
  background-size: 1800% 1800%;

  -webkit-animation: yellowrainbow 1s ease infinite;
  -z-animation: yellowrainbow 1s ease infinite;
  -o-animation: yellowrainbow 1s ease infinite;
  animation: yellowrainbow 1s ease infinite;
}

@-webkit-keyframes yellowrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes yellowrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes yellowrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes yellowrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.badge-success-animate {
  padding: 0 10px 0 10px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(
    12deg,
    #10bd00,
    #0d9c00,
    #0c8f00,
    #0a7400
  );
  background-size: 1800% 1800%;

  -webkit-animation: greenrainbow 1s ease infinite;
  -z-animation: greenrainbow 1s ease infinite;
  -o-animation: greenrainbow 1s ease infinite;
  animation: greenrainbow 1s ease infinite;
}

@-webkit-keyframes greenrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes greenrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes greenrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes greenrainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}


.badge-success {
  background-color: rgb(25, 148, 0) !important;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white !important;
  margin: 5px;
}

.badge-success-super {
  background-color: rgb(17, 100, 0) !important;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white !important;
  margin: 5px;
}

.badge-success-outline {
  border: 1px solid rgb(25, 148, 0);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: rgb(25, 148, 0);
  margin: 5px;
}

.badge-primary {
  background-color: #79aeca;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.badge-primary-super {
  background-color: #0079b9;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.badge-primary-outline {
  color: #79aeca !important;
  background-color: #ffffff;
  border: 1px solid #79aeca;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.badge-primary-outline-bold {
  color: #79aeca !important;
  border: 2px solid #79aeca;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.badge-secondary {
  background-color: rgb(112, 112, 112);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.badge-secondary-outline {
  color: rgb(112, 112, 112) !important;
  border: 1px solid rgb(112, 112, 112);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin: 5px;
}

.badge-reverse {
  background-color: white !important;
  color: #79aeca !important;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

.badge-danger {
  background-color: #d36868;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  color: white;
  margin: 5px;
}

.badge-danger-outline {
  color: #d36868 !important;
  border: 1px solid #d36868;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

.badge-verydanger {
  background-color: #ff3838;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  color: white;
  margin: 5px;
}

.badge-warning {
  background-color: #feffaf;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

.badge-warning-super {
  background-color: #addd00;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

.badge-dark {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

.badge-kmb {
  background-color: #ffa600;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

.badge-ctb {
  background-color: #ffee00;
  color: black !important;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

/*Page Transition*/
.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);
}

/*For responsive Design*/
@media (max-width: 768px) {
  .sticky-dev {
    position: fixed;
    width: 65%;
    bottom: 40px;
    left: 10px;
    z-index: 1;
    animation: bottomToTop 0.5s;
    transition: all 0.5s;
  }

  .sticky-page {
    position: fixed;
    width: 80%;
    left: 50px;
    bottom: -50px;
    z-index: 9;
    animation: bottomToTopToBottom 3s;
    transition: all 0.5s;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
}

@media (min-width: 1280px) {
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}

.shadow:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}

.align-right {
  float: right;
  margin-left: auto;
}

.align-left {
  float: left;
}

/* Margin */
.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.mt-08 {
  margin-top: 4px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.ms-1 {
  margin-left: 5px;
}

.ms-2 {
  margin-left: 10px;
}

.ms-3 {
  margin-left: 15px;
}

.ms-4 {
  margin-left: 20px;
}

.ms-5 {
  margin-left: 25px;
}

.me-1 {
  margin-right: 5px;
}

.me-2 {
  margin-right: 10px;
}

.me-3 {
  margin-right: 15px;
}

.me-4 {
  margin-right: 20px;
}

.me-5 {
  margin-right: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

/*Padding*/
.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.ps-1 {
  padding-left: 5px;
}

.ps-2 {
  padding-left: 10px;
}

.ps-3 {
  padding-left: 15px;
}

.ps-4 {
  padding-left: 20px;
}

.ps-5 {
  padding-left: 25px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pe-1 {
  padding-right: 5px;
}

.pe-2 {
  padding-right: 10px;
}

.pe-3 {
  padding-right: 15px;
}

.pe-4 {
  padding-right: 20px;
}

.pe-5 {
  padding-right: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.fade-text {
  animation: fadeInText 0.5s;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 1;
  transition: all 0.5s;
}

.sticky-search {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 1;
  transition: all 0.5s;
}

.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  z-index: 1;
  transition: all 0.5s;
}

.sticky-scroll {
  background-color: white;
  border-radius: 8px;
  opacity: 1;
  padding-bottom: 35px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.sticky-scroll-column {
  background-color: white;
  border-radius: 8px;
  opacity: 1;
  padding: 3px;
}

.sticky-dev {
  position: fixed;
  right: 150px;
  bottom: 40px;
  z-index: 1;
  animation: bottomToTop 0.5s;
  transition: all 0.5s;
}

.sticky-page {
  position: fixed;
  width: 55%;
  left: 50px;
  bottom: -50px;
  z-index: 9;
  animation: bottomToTopToBottom 3s;
  transition: all 0.5s;
}

@keyframes bottomToTop {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes bottomToTopToBottom {
  0% {
    bottom: 0;
  }
  5% {
    bottom: 50px;
  }
  7% {
    bottom: 40px;
  }
  92% {
    bottom: 40px;
  }
  95% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    bottom: -50px;
    opacity: 0;
  }
}

.text-white {
  color: white !important;
}

.text-disabled {
  color: white !important;
  opacity: 0.5;
}

.text-secondary {
  color: #707070 !important;
}

.text-primary {
  color: #79aeca !important;
}

.text-danger {
  color: #ef5350 !important;
}

.text-success {
  color: rgb(25, 148, 0) !important;
}

.ver-center {
  vertical-align: middle;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  opacity: 1;
  transition: all 1s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0.2;
  transition: all 1s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #449ccc;
  opacity: 0.2;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #449ccc;
  transition: all 1s;
}

/* Z-index */
.most-top {
  z-index: 999;
}
