@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Murecho&family=Roboto:wght@100&family=RocknRoll+One&display=swap");

* {
  box-sizing: border-box;
}

#bgVdo {
  position: fixed;
  filter: brightness(80%);
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

html {
  font-family: "Roboto", sans-serif !important;
  font-weight: 1000;
}

body {
  overflow: overlay;
  display: grid;
  margin: 0;
  background: #727272;
  padding-bottom: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #79aeca;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: #4b7bc9;
  text-decoration: none;
  transition: all 0.2s;
}

.white-background-static {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-static-scroll-down {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
  transition: all 0.2s;
}

.white-background {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background:hover {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-csl {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-csl:hover {
  border-radius: 6px;
  background-color: rgba(28, 98, 148, 0.8);
  color: white;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1.01);
  transition: all 0.2s;
}

.white-background-csl:active {
  border-radius: 6px;
  background-color: rgba(28, 98, 148, 0.8);
  color: white;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1);
  transition: all 0.2s;
}

.white-background-csl-success {
  border-radius: 6px;
  background-color: rgb(25, 148, 0) ;
  border: 1px solid #00a708 ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-animated {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-animated:hover {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  transform: scale(1.01);
  animation-fill-mode: forwards;
  transition: all 0.2s;
}

.white-background-animated:active {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  animation-name: background-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: scale(1);
  transition: all 0.2s;
}

@keyframes background-in {
  0% {
    opacity: 0;
    scale: 90%;
  }
  40% {
    opacity: 1;
    scale: 101%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.container {
  padding: 0 10px 0 10px;
  display: grid;
  gap: 10px;
}

body::-webkit-scrollbar {
  /* display: none; 
  -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.hide-scroll::-webkit-scrollbar {
  /* display: none; 
  -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.hide-scroll {
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-1 {
  font-size: 128px;
  transition: font-size 0.5s;
}

.display-2 {
  font-size: 96px;
  transition: font-size 0.5s;
}

.display-3 {
  font-size: 64px;
  transition: font-size 0.5s;
}
.display-4 {
  font-size: 48px;
  transition: font-size 0.5s;
}
.display-5 {
  font-size: 32px;
  transition: font-size 0.5s;
}
.display-6 {
  font-size: 24px;
  transition: font-size 0.5s;
}

.display-7 {
  font-size: 18px;
  transition: font-size 0.5s;
}

.display-75 {
  font-size: 15px;
  transition: font-size 0.5s;
}

.display-8 {
  font-size: 12px;
  transition: font-size 0.5s;
}

.display-9 {
  font-size: 10px;
  transition: font-size 0.5s;
}

.display-10 {
  font-size: 8px;
  transition: font-size 0.5s;
}

.banner {
  display: block;
  opacity: 1;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: banner-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes banner-in {
  0% {
    opacity: 0;
    scale: 90%;
  }
  40% {
    opacity: 1;
    scale: 102%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.banner-success {
  background-color: #199400;
  color: white;
  transition: all 0.5s;
}

.banner-little-success {
  background-color: rgb(116, 214, 97);
  color: white;
  transition: all 0.5s;
}

.banner-primary {
  background-color: #79aeca;
  color: white;
  transition: all 0.5s;
}

.banner-secondary {
  background-color: #707070;
  color: white;
  transition: all 0.5s;
}

.banner-little-secondary {
  background-color: #adadad;
  color: white;
  transition: all 0.5s;
}

.banner-danger {
  background-color: #d32f2f;
  color: white;
  transition: all 0.5s;
}

.banner-little-danger {
  background-color: #ff9797;
  color: white;
  transition: all 0.5s;
}

.banner-warning {
  background-color: #feffb0;
  color: black;
  transition: all 0.5s;
}


.bold {
  font-weight:900;
}

table {
  width: 100%;
  border: 2px dotted #79aeca;
  border-radius: 6px;
  transform: scale(1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

table:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s;
}

table:active {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

table td {
  width: 33%;
}

.badge-success {
  background-color: rgb(25, 148, 0);
  border: 1px solid rgb(25, 148, 0);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  transition: all 0.5s;
}

.badge-success-outline {
  border: 1px solid rgb(25, 148, 0);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: rgb(25, 148, 0);
  margin: 5px;
  transition: all 0.5s;
}

.badge-primary {
  background-color: #79aeca;
  border: 1px solid #79aeca;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  transition: all 0.5s;
}

.badge-primary-outline {
  color: #79aeca !important;
  border: 1px solid #79aeca;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-primary-outline-bold {
  color: #79aeca !important;
  border: 2px solid #79aeca;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-light {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: #79aeca;
  margin: 5px;
  transition: all 0.5s;
}

.badge-light-outline {
  color: #ffffff !important;
  border: 1px solid #ffffff;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-secondary {
  background-color: #494949;
  border: 1px solid rgb(112, 112, 112);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  transition: all 0.5s;
}

.badge-little-secondary {
  background-color: rgb(109, 109, 109);
  border: 1px solid rgb(109, 109, 109);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  transition: all 0.5s;
}

.badge-secondary-outline {
  color: rgb(112, 112, 112) !important;
  border: 1px solid rgb(112, 112, 112);
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-reverse {
  background-color: white !important;
  color: #79aeca !important;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-danger {
  background-color: #d36868;
  border: 1px solid #d36868;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  color: white;
  margin: 5px;
  transition: all 0.5s;
}

.badge-danger-outline {
  color: #d36868 !important;
  border: 1px solid #d36868;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-verydanger {
  background-color: #ff3838;
  border: 1px solid #ff3838;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  color: white;
  margin: 5px;
  transition: all 0.5s;
}

.badge-warning {
  background-color: #feffaf;
  border: 1px solid #feffaf;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
  transition: all 0.5s;
}

.badge-super-warning {
  background-color: #fbff00;
  border: 1px solid #fbff00;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 5px;
  transition: all 0.5s;
}


/*Page Transition*/
.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);
}

/*For responsive Design*/
@media (max-width: 768px) {
  .sticky-dev {
    position: fixed;
    width: 65%;
    bottom: 40px;
    left: 10px;
    z-index: 1;
    animation: bottomToTop 0.5s;
    transition: all 0.5s;
  }

  .sticky-page {
    position: fixed;
    width: 80%;
    left: 50px;
    bottom: -50px;
    z-index: 9;
    animation: bottomToTopToBottom 3s;
    transition: all 0.5s;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
}

@media (min-width: 1280px) {
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}

.shadow:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}

.align-right {
  float: right;
  margin-left: auto;
}

.align-left {
  float: left;
}

.align-bottom {
  position: fixed;
  bottom: 25px;
  width: 100%;
  left: 0;
}

/* Margin */
.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.mt-08 {
  margin-top: 4px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.ms-1 {
  margin-left: 5px;
}

.ms-2 {
  margin-left: 10px;
}

.ms-3 {
  margin-left: 15px;
}

.ms-4 {
  margin-left: 20px;
}

.ms-5 {
  margin-left: 25px;
}

.me-1 {
  margin-right: 5px;
}

.me-2 {
  margin-right: 10px;
}

.me-3 {
  margin-right: 15px;
}

.me-4 {
  margin-right: 20px;
}

.me-5 {
  margin-right: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

/*Padding*/
.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.ps-1 {
  padding-left: 5px;
}

.ps-2 {
  padding-left: 10px;
}

.ps-3 {
  padding-left: 15px;
}

.ps-4 {
  padding-left: 20px;
}

.ps-5 {
  padding-left: 25px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pe-1 {
  padding-right: 5px;
}

.pe-2 {
  padding-right: 10px;
}

.pe-3 {
  padding-right: 15px;
}

.pe-4 {
  padding-right: 20px;
}

.pe-5 {
  padding-right: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.fade-text {
  animation: fadeInText 0.5s;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 1;
  transition: all 0.5s;
}

.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  z-index: 1;
  transition: all 0.5s;
}

.sticky-column-sc {
  position: -webkit-sticky;
  background-color: #fff;
  position: sticky;
  top: 65px;
  z-index: 1;
  transition: all 0.5s;
}

.sticky-scroll {
  background-color: white;
  border-radius: 6px;
  opacity: 1;
  padding-bottom: 35px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.sticky-scroll-column {
  background-color: white;
  border-radius: 6px;
  opacity: 1;
  padding: 3px;
}

.sticky-dev {
  position: fixed;
  right: 150px;
  bottom: 40px;
  z-index: 1;
  animation: bottomToTop 0.5s;
  transition: all 0.5s;
}

.sticky-page {
  position: fixed;
  width: 55%;
  left: 50px;
  bottom: -50px;
  z-index: 9;
  animation: bottomToTopToBottom 3s;
  transition: all 0.5s;
}

@keyframes bottomToTop {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes bottomToTopToBottom {
  0% {
    bottom: 0;
  }
  5% {
    bottom: 50px;
  }
  7% {
    bottom: 40px;
  }
  92% {
    bottom: 40px;
  }
  95% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    bottom: -50px;
    opacity: 0;
  }
}

.text-white {
  color: white !important;
}

.text-disabled {
  color: white !important;
  opacity: 0.5;
}

.text-secondary {
  color: #707070 !important;
}

.text-primary {
  color: #79aeca !important;
}

.text-danger {
  color: #ef5350 !important;
}

.text-success {
  color: rgb(25, 148, 0) !important;
}

.text-warning {
  color: #ffee00 !important;
}

.ver-center {
  vertical-align: middle;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  opacity: 1;
  transition: all 1s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0.2;
  transition: all 1s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #79aeca;
  opacity: 0.2;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #79aeca;
  transition: all 1s;
}

/* Error border */
.error-border {
  border: 2px solid #d32f2f;
}

.bright-1 {
  filter: brightness(1.5);
}

.bright-2 {
  filter: brightness(2);
}

.bright-3 {
  filter: brightness(2.5);
}

.bright-4 {
  filter: brightness(3);
}